<footer class="footer pb-6 bg-primary text-white pt-9 mt-n9">
    <div class="container">
        <div class="row mt-6">
            <div class="col-md-6">
                <p>This Website is aimed at helping victims, <br> survivors and their families.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="#" aria-label="twitter social link"
                            class="icon icon-xs icon-white" data-toggle="tooltip" data-placement="top"
                            title="Follow us on Twitter">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="icon icon-xs icon-white"
                            aria-label="facebook social link" data-toggle="tooltip" data-placement="top"
                            title="Like us on Facebook">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>