

<!DOCTYPE html>
<html lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Primary Meta Tags -->
<title>
    {% block title %}{% endblock %} | Python Assignment
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="Python Assignment - GBV Awareness">
<meta name="author" content="BISF SEP `23">
<meta name="description" content="Gender-Based Violence (GBV) has no place in our society. It thrives in silence, perpetuating a culture of fear, and disempowering individuals. We're here to change that. Join us in the fight against GBV, as we raise our voices, tell our stories, and work together to build a world where love and respect prevail.">
<link rel="canonical" href="https://gbv-awareness-website.onrender.com">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://gbv-awareness-website.onrender.com">
<meta property="og:title" content="Python Assignment - GBV Awareness">
<meta property="og:description" content="Gender-Based Violence (GBV) has no place in our society. It thrives in silence, perpetuating a culture of fear, and disempowering individuals. We're here to change that. Join us in the fight against GBV, as we raise our voices, tell our stories, and work together to build a world where love and respect prevail.">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://gbv-awareness-website.onrender.com">
<meta property="twitter:title" content="Python Assignment - GBV Awareness">
<meta property="twitter:description" content="Gender-Based Violence (GBV) has no place in our society. It thrives in silence, perpetuating a culture of fear, and disempowering individuals. We're here to change that. Join us in the fight against GBV, as we raise our voices, tell our stories, and work together to build a world where love and respect prevail.">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

     {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>
