{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    {% include 'includes/preloader.html' %}

    <!-- Hero -->
    <section class="section-header bg-secondary text-white">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                    <h1 class="display-4 mb-4">Breaking the Silence, <br class="d-none d-md-inline">Creating a World
                        Free from Fear</h1>
                    <p class="lead">Your support can help break the cycle, empower survivors, and drive positive change.
                        Together, we can create a future where no one has to live in fear.</p>
                    <a href="./contact.html" class="btn btn-tertiary me-3 animate-up-2">Talk to us <span
                            class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                </div>
                <div class="col-12 col-md-5 d-none d-md-block text-center"><img
                        src="/static/assets/img/illustrations/about-illustration.svg" alt=""></div>
            </div>
        </div>
        <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
            <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
                style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                <path
                    d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z">
                </path>
            </svg>
        </figure>
    </section>
    <!-- End of Hero section -->

    <!-- Section -->
    <section class="section section-md">
        <div class="container">
            <div class="row align-items-center justify-content-around">
                <div class="col-md-6 col-xl-6 mb-5">
                    <img class="organic-radius img-fluid" src="/static/assets/img/sections/GBV-graphic.jpg" alt="">
                </div>
                <div class="col-md-6 col-xl-5 text-center text-md-left">
                    <h2 class="h1 mb-5">Stand against the Vice.</h2>
                    <p class="lead">Gender-Based Violence (GBV) has no place in our society. It thrives in silence,
                        perpetuating a culture of fear, and disempowering individuals. We're here to change that. Join
                        us in the fight against GBV, as we raise our voices, tell our stories, and work together to
                        build a world where love and respect prevail.</p>
                    <p class="lead">Your support can help break the cycle, empower survivors, and drive positive change.
                        Together, we can create a future where no one has to live in fear.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->

    <!-- Section -->
    <section class="section section-lg pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 text-center">
                    <div class="icon-box mb-4">
                        <div class="icon icon-primary mb-4">
                            <span class="fas fa-user"></span>
                        </div>
                        <h3 class="h5">Team Members</h3>
                        <span class="counter display-3 text-gray d-block">500</span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 text-center">
                    <div class="icon-box mb-4">
                        <div class="icon icon-primary mb-4">
                            <span class="fas fa-money-check"></span>
                        </div>
                        <h3 class="h5">Survivors Reached</h3>
                        <span class="counter display-3 text-gray d-block">2400</span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 text-center">
                    <div class="icon-box mb-4">
                        <div class="icon icon-primary mb-4">
                            <span class="fas fa-globe-europe"></span>
                        </div>
                        <h3 class="h5">People Impacted</h3>
                        <span class="counter display-3 text-gray d-block">1000</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->

    <!-- Section -->
    <section class="section section-lg bg-gray-200">
        <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
            <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
                style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                <path
                    d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z">
                </path>
            </svg>
        </figure>
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2 class="h1 fw-light"><span class="fw-bold">Our</span> history</h2>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-4 text-left text-md-right">
                    <p class="lead fw-bold text-dark">Our History is a testament to the power of individuals coming
                        together with a
                        shared purpose. From those humble beginnings, we have cast a light on the darkness of GBV,
                        providing hope and healing, and reminding us all that collective action can create lasting
                        change.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>In a world marred by the silent suffering of countless individuals, a spark of compassion and
                        determination ignited our remarkable journey. We set out on a mission to raise awareness,
                        empower survivors, and instigate change.</p>
                    <p class="d-none d-lg-block">In those early days, our modest gatherings were fueled by hope, but our
                        hearts brimmed with empathy. We engaged in open
                        conversations about the pervasive nature of GBV. and this became the building blocks of
                        our vision, inspiring others to join our cause. With every voice that joined our chorus, our
                        influence grew, and the ripple effect began to reach farther than we could have ever imagined.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>Over the years, our organization's tireless efforts expanded its reach across communities,
                        borders, and cultures. Together, we organized workshops, created educational resources, and
                        initiated campaigns that tackled the root causes of GBV. Our impact was felt on an individual
                        level, as survivors found solace and support, and on a societal level, as policies were reshaped
                        and awareness reached new heights.</p>
                </div>
            </div>
        </div>
        <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
            <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
                style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                <path
                    d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z">
                </path>
            </svg>
        </figure>
    </section>

    <!--Info-->
    <section id="why-us" class="why-us bg-secondary">
        <div class="container-fluid" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-5 d-flex align-items-center order-1 order-lg-2 mb-5 mt-3">
                    <img src="/static/assets/img/team/GBV-Poster.png" alt="" class="img-fluid">
                </div>

                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
                    <div class="content">
                        <h3 class="text-white">What impact does <strong>GBV have on society?</strong></h3>
                        <p>
                            Gender-Based Violence is a pervasive issue that extends far beyond its immediate victims.
                            Its impact resonates throughout society, touching various aspects of our collective
                            well-being:
                        </p>
                    </div>
                    <div class="accordion mb-5 p-4" id="accordionExample1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Psychological Toll
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <strong>GBV inflicts severe psychological trauma on survivors, leading to anxiety,
                                        depression, and post-traumatic stress disorder. This suffering affects not only
                                        individuals but also their families, friends, and communities who bear witness
                                        to their pain.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Public Health Burden
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <strong>GBV has been recognized as a public health crisis, demanding resources and
                                        interventions that could otherwise be invested in proactive health initiatives.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Inter-generational Impact
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <strong>Children who witness or experience GBV are more likely to perpetuate or
                                        become victims of violence in the future, perpetuating a cycle of abuse that
                                        harms society across generations.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Reduced Human Capital
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                    <strong>GBV diminishes the potential of individuals who could otherwise contribute
                                        meaningfully to society. When survivors are held back, our collective human
                                        capital suffers.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--Info-->

    <!--Survivor Stories-->
    <section class="section section-lg bg-gray-200" id="stories">
        <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
            <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4"
                style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                <path
                    d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z">
                </path>
            </svg>
        </figure>
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h2 class="h1 fw-light"><span class="fw-bold">Survivor</span> Stories</h2>
                    <p class="lead fw-bold text-dark">These survivors' stories remind us of the resilience of the human
                        spirit and the importance of supporting survivors of gender-based violence on their path to
                        recovery and empowerment.
                    </p>
                </div>
            </div>
            <div class="row align-items-center mt-3">
                <div class="col-md-6 col-lg-4 text-center h-100">
                    <div class="card border-gray-300 mb-4">
                        <div class="card-body py-5">
                            <img src="/static/assets/img/team/Sarah.jpg" class="img-fluid image-md" alt="Survivor">
                            <p class="card-title fw-bold text-dark mt-2 mb-2">Sarah</p>
                            <p class="card-text py-4 mb-0">My name is Sarah. I survived gender-based violence. I felt
                                trapped, but one day, I found the
                                strength to break free. It was hard, but with the support of friends and therapy, I
                                rebuilt my life. Now, I'm an advocate for survivors, helping them find their strength
                                too.</p>
                            <a href="Sarah.html" class="btn btn-primary btn-sm">Read my Story</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card border-gray-300 mb-4">
                        <div class="card-body py-5">
                            <img src="/static/assets/img/team/Maya.jpg" class="img-fluid image-md" alt="Survivor">
                            <p class="card-title fw-bold text-dark mt-2 mb-2">Maya</p>
                            <p class="card-text py-4 mb-0">I'm Maya. I was a victim of emotional abuse for years. It
                                left me shattered, with no self-esteem. Finally, I realized I deserved better. Support
                                from a local women's group empowered me to leave. Now, I mentor others to escape toxic
                                relationships and rebuild their lives.</p>
                            <a href="Maya.html" class="btn btn-primary btn-sm">Read my Story</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card border-gray-300 mb-4">
                        <div class="card-body py-5">
                            <img src="/static/assets/img/team/David.jpg" class="img-fluid image-md" alt="Survivor">
                            <p class="card-title fw-bold text-dark mt-2 mb-2">David</p>
                            <p class="card-text py-4 mb-0">My name is David. I survived domestic violence from my
                                partner. Society often overlooks male survivors. I sought help and found support groups
                                for men. Sharing my experience has helped others come forward and break the cycle of
                                abuse.</p>
                            <a href="David.html" class="btn btn-primary btn-sm">Read my Story</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card border-gray-300 mb-4">
                        <div class="card-body py-5">
                            <img src="/static/assets/img/team/Aisha.jpg" class="img-fluid image-md" alt="Survivor">
                            <p class="card-title fw-bold text-dark mt-2 mb-2">Aisha</p>
                            <p class="card-text py-4 mb-0">I'm Aisha, a survivor of child marriage and domestic abuse.
                                It felt like a never-ending nightmare. Legal aid gave me the courage to escape, and now
                                I advocate for girls' education and women's rights in my community.</p>
                            <a href="Aisha.html" class="btn btn-primary btn-sm">Read my Story</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card border-gray-300 mb-4">
                        <div class="card-body py-5">
                            <img src="/static/assets/img/team/Carlos.jpg" class="img-fluid image-md" alt="Survivor">
                            <p class="card-title fw-bold text-dark mt-2 mb-2">Carlos</p>
                            <p class="card-text py-4 mb-0">I'm Carlos. I was a victim of workplace harassment, a form of
                                gender-based violence too often ignored. When I spoke up, my colleagues and I took
                                action. Now, I'm an activist raising awareness about workplace harassment for all
                                genders.</p>
                            <a href="Carlos.html" class="btn btn-primary btn-sm">Read my Story</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card border-gray-300 mb-4">
                        <div class="card-body py-5">
                            <img src="/static/assets/img/team/Priya.jpg" class="img-fluid image-md" alt="Survivor">
                            <p class="card-title fw-bold text-dark mt-2 mb-2">Priya</p>
                            <p class="card-text py-4 mb-0">My name is Priya. I survived human trafficking and sexual
                                exploitation. It was hell, but I managed to escape. I'm now an ambassador for
                                organizations fighting against human trafficking, helping other survivors reclaim their
                                lives and dignity.</p>
                            <a href="Priya.html" class="btn btn-primary btn-lg">Read my Story</a>

                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4">
                    <a href="AllStories.html" class="btn btn-primary btn-lg">All Stories</a>
                </div>
            </div>
        </div>
    </section>
    <!--Survivor Stories-->

    <!--Resources-->
    <div class="section section-lg bg-primary-app" id="resources">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center mb-5 mb-lg-6">
                    <h2 class="display-2 fw-bold">
                        Resources
                    </h2>
                    <p class="lead">These are free resorces that can give you insights into the vice that is GBV</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="card bg-white border-gray-300">
                        <div class="border-bottom px-4 py-5">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-3 pb-3 pb-md-0">
                                    <h2 class="h5">GBV Doc 1</h2>
                                </div>
                                <div class="col-md-5 pb-2 pb-md-0">
                                    <h3 class="h5 mb-3">By John Doe</h3>
                                    <p class="mb-0">A research on the damage GBV Causes.</p>
                                </div>
                                <div class="col-md-4 text-md-right"><a href="pdf_resources.html#GBV_Doc_1"
                                        class="btn btn-primary btn-sm">View Resource</a>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom px-4 py-5">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-3 pb-3 pb-md-0">
                                    <h2 class="h5">GBV Doc 2</h2>
                                </div>
                                <div class="col-md-5 pb-2 pb-md-0">
                                    <h3 class="h5 mb-3">By John Doe</h3>
                                    <p class="mb-0">A research on the damage GBV Causes.</p>
                                </div>
                                <div class="col-md-4 text-md-right"><a href="pdf_resources.html#GBV_Doc_2"
                                        class="btn btn-primary btn-sm">View Resource</a>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom px-4 py-5">
                            <div class="row align-items-center">
                                <div class="col-12 col-md-3 pb-3 pb-md-0">
                                    <h2 class="h5">GBV Doc 3</h2>
                                </div>
                                <div class="col-md-5 pb-2 pb-md-0">
                                    <h3 class="h5 mb-3">By John Doe</h3>
                                    <p class="mb-0">A research on the damage GBV Causes.</p>
                                </div>
                                <div class="col-md-4 text-md-right"><a href="pdf_resources.html#GBV_Doc_3"
                                        class="btn btn-primary btn-sm">View Resource</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4">
                    <a href="pdf_resources.html" class="btn btn-primary btn-lg">All Resources</a>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4">
                    <a href="gender_based_violence_videos.html" class="btn btn-primary btn-lg">View Video Resources</a>
                </div>
            </div>
        </div>
    </div>
    <!--Resources-->

    <!--Helplines-->
    <div class="row mb-5 mb-lg-6 section section-lg bg-primary-app">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-center mb-5 mb-lg-6">
                <h2 class="display-2 fw-bold">
                    Helplines
                </h2>
                <p class="lead">Reach out if you need urgent help</p>
            </div>
        </div>
        <div class="col-12 col-sm-4 text-center">
            <!-- Visit Box -->
            <div class="icon-box mb-4">
                <div class="icon icon-secondary-app mb-4">
                    <span class="fas fa-map-marker-alt"></span>
                </div>
                <h2 class="h5 icon-box-title">Visit Us</h2>
                <span>
                    99 Mukabi Lane, Loresho
                    <br>Nairobi, Kenya
                </span>
            </div>
            <!-- End of Visit Box -->
        </div>
        <div class="col-12 col-sm-4 text-center">
            <!-- Call Box -->
            <div class="icon-box mb-4">
                <div class="icon icon-secondary-app mb-4">
                    <span class="fas fa-phone-volume"></span>
                </div>
                <h2 class="h5 icon-box-title">Police Hotline</h2>
                <span>999</span>
                <div class="text-small text-gray">
                    911
                </div>
            </div>
            <!-- End of Call Box -->
        </div>
        <div class="col-12 col-sm-4 text-center">
            <!-- Email Box -->
            <div class="icon-box mb-4">
                <div class="icon icon-secondary-app mb-4">
                    <span class="far fa-paper-plane"></span>
                </div>
                <h2 class="h5 icon-box-title">Report Anonymously</h2>
                <a href="#">report@gbvawareness.com</a>
            </div>
            <!-- End of Email Box -->
        </div>
    </div>
    <!--Helplines-->

    <!-- Section -->
    <section class="section section-lg">
        <div class="container">
            <div class="row mb-5 mb-lg-6">
                <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                    <h2 class="h1 mb-4">Meet The Team</h2>
                    <p class="lead">Our Founders below came together with the am of raising as much awareness as
                        possible on this vice. This is something they are all very passionate about and they therefore
                        felt the need to make a difference
                    </p>
                </div>
            </div>
            <div class="row mb-5 mb-lg-6">
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow border-gray-300">
                        <img src="/static/assets/img/team/Carlos.jpg" class="card-img-top rounded-top"
                            alt="Joseph Portrait">
                        <div class="card-body">
                            <h3 class="h4 card-title mb-2">John Mwangi</h3>
                            <span class="card-subtitle text-gray fw-normal">Co-Founder</span>
                            <p class="card-text my-3">John Mwangi is a behavioural Scientist with 7 Years of experience
                                researching in the field of GBV</p>
                            <ul class="list-unstyled d-flex mt-3 mb-0">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link"
                                        class="icon-facebook me-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link"
                                        class="icon-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow border-gray-300">
                        <img src="/static/assets/img/team/priya.jpg" class="card-img-top rounded-top"
                            alt="Bonnie portrait">
                        <div class="card-body">
                            <h3 class="h4 card-title mb-2">Jane Juma</h3>
                            <span class="card-subtitle text-gray fw-normal">Co-Founder</span>
                            <p class="card-text my-3">Jane Juma is a behavioural Scientist with 7 Years of experience
                                researching in the field of GBV.</p>
                            <ul class="list-unstyled d-flex mt-3 mb-0">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link"
                                        class="icon-facebook me-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link"
                                        class="icon-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow border-gray-300">
                        <img src="/static/assets/img/team/David.jpg" class="card-img-top rounded-top"
                            alt="Jose Avatar">
                        <div class="card-body">
                            <h3 class="h4 card-title mb-2">Moses Omondi</h3>
                            <span class="card-subtitle text-gray fw-normal">Co-Founder</span>
                            <p class="card-text my-3">Moses Omondi is a behavioural Scientist with 7 Years of experience
                                researching in the field of GBV</p>
                            <ul class="list-unstyled d-flex mt-3 mb-0">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link"
                                        class="icon-facebook me-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link"
                                        class="icon-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <!-- Contact Card -->
                    <div class="card border-0 p-2 p-md-3 p-lg-5">
                        <div class="card-header bg-white border-0 text-center">
                            <h2>Want to talk to someone?</h2>
                            <p>You don't have to go through this alone. Feel free to talk to us. We have experts ready
                                to help.</p>
                            <p>You can also use this for general enquiries.</p>
                        </div>
                        <div class="card-body pt-0">
                            <form action="#">
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="name">Your Name</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon3"><span
                                                class="fas fa-user-circle"></span></span>
                                        <input type="text" class="form-control" placeholder="e.g. John Doe" id="name"
                                            required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="email">Your Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon4"><span
                                                class="fas fa-envelope"></span></span>
                                        <input type="email" class="form-control" placeholder="example@company.com"
                                            id="email" required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="mb-4">
                                    <label for="message">Your Message</label>
                                    <textarea placeholder="Your message" class="form-control" id="message" rows="4"
                                        required></textarea>
                                </div>
                                <!-- End of Form -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-secondary">Send message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End of Contact Card -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of section -->

</main>

<section class="section py-0">
    <div class="container z-2">
        <div class="row position-relative justify-content-center align-items-cente">
            <div class="col-12">
                <!-- Card -->
                <div class="card border-light px-4 py-1">
                    <div class="card-body text-center text-md-left">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h2 class="h1 mb-3">Join the Dream Team</h2>
                                <p class="lead mb-4">
                                    Do you want to join our team and help make a difference to society? Reach out to us.
                                    We would be glad to have you on board.
                                </p>
                                <a href="contact.html" class="btn btn-primary">
                                    <span class="me-1">
                                        <span class="fas fa-file-invoice"></span>
                                    </span>
                                    Talk to Us
                                </a>
                            </div>
                            <div class="col-12 col-md-6 mt-5 mt-md-0 text-md-right">
                                <img src="/static/assets/img/illustrations/reading-side.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'includes/footer-about.html' %}

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}